html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fafafa;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.demo {
    padding: 20px;
}

.demo-loading {
    position: absolute;
    top: 20px;
    left: 20px;
    font-style: italic;
}

.demo-header {
    padding-bottom: 20px;
}

.ol-viewport {
    height: 400px !important;
}

button {
    text-transform: uppercase;
    font-weight: normal;
}

.demo-content {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}