html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fafafa;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.demo {
    padding: 20px;
    min-width: 700px;
}

.demo-loading {
    position: absolute;
    top: 20px;
    left: 20px;
    font-style: italic;
}

.demo-header {
    padding-bottom: 20px;
}

button {
    text-transform: uppercase;
    font-weight: normal;
}

.demo-content {
    border: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 6px;
}

.ol-viewport {
    height: 500px !important;
}