@import "./defaults";
/* Master Styles */
body,
html {
    margin: 0;
    width: $default-width;
    height: $default-height;
}
/* . . . */
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
