@import "../defaults";
.ng2ol3-sidebar {
    width: 300px;
    z-index: 100;
    position: absolute;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 1px 0 5px #888888;
    & .sidebar-content {
        padding: 15px;
    }
}
