.ng2ol3-layertree {
    color: $base-font-color;
    $icon-padding: 2px;
    $hoverColor: darken($base-font-color, 50%);
    & .ng2ol3-layergroup {
        & md-list {
            & md-list-item {
                & .md-list-item {
                    background-color: tint($action-color, 80%) !important;
                    & .ng2ol3-layertree-details {
                        display: none;
                    }
                    &:hover {
                        background-color: tint($action-color, 70%) !important;
                        & .ng2ol3-layertree-details {
                            display: block;
                        }
                    }
                }
                & md-icon {
                    font-size: 1.5em;
                    text-align: center !important;
                    line-height: 2em;
                }
                & h3 {
                    font-size: 1.2em;
                }
                & .plus-info {
                    color: $medium-gray;
                }
            }
        }
        & .children {
            & md-list {
                // padding-left: 20px;
            }
        }
    }
    & .ng2ol3-layer {
        & md-list {
            & md-list-item {
                & .md-list-item {
                    background-color: tint($action-color, 90%) !important;
                    & .ng2ol3-layertree-details {
                        display: none;
                    }
                    &:hover {
                        background-color: tint($action-color, 80%) !important;
                        & .ng2ol3-layertree-details {
                            display: block;
                        }
                    }
                }
                & md-icon {
                    font-size: 1.5em;
                    line-height: 2em;
                    text-align: center !important;
                }
                & h3 {
                    font-size: 1em;
                }
                & .plus-info {
                    color: $medium-gray;
                }
            }
        }
    }
    & .ng2ol3-layertree-details {
        & .md-grid-list {
            margin-top: 4px;
            & md-icon {
                font-size: 1em;
                line-height: 2em;
            }
        }
    }
}