.ng2ol3-layertree {
    color: $base-font-color;
    $icon-padding: 2px;
    $hoverColor: darken($base-font-color, 50%);;

    & .ng2ol3-layergroup {
        & .header-icon {
            font-size: 1.5em;
        }
        // & .layergroup-header {
        //     text-transform: uppercase;
        //     padding-top: 2px;
        //     padding-bottom: 2px;
        //     & i {
        //         padding-right: $icon-padding;
        //     }
        //     &:hover {
        //         color: $hoverColor;
        //         cursor: pointer;
        //     }
        // }
        // & .layergroup-children {
        //     padding-left: 15px;
        // }
    }
    
    & .ng2ol3-layer {
        & .layer-header {
           & .layer-name {
                & i {
                    padding-right: $icon-padding;
                }
                &:hover {
                    color: $hoverColor;
                    cursor: pointer;
                }
            }

            & .layer-properties {
                float: right;
                &:hover {
                    color: $hoverColor;
                    cursor: pointer;
                }
            }
        }

        & .layer-details {
            font-size: 0.7em;
            padding-left: 10px;
        }

    }

}